<h1>Implémentation du générateur</h1>

<%= form_with scope: :gen, url: gen_path, local: true do |form| %>
	<p>Generation method: 
		<%= form.radio_button :generation_method, 'Centroïd', checked: true %>
		<%= label :generation_method, 'Centroïd' %>
		<%= form.radio_button :generation_method, 'Uniform' %>
		<%= label :generation_method, 'Uniform' %>
	</p>
	<p>Number of stations : <%= form.number_field :nb_stations, min: 1, step: 1, value: 10%></p>
	<p>Parking range (# parking slots): 
		<%= form.number_field :parking_range_L, min: 1, step: 1, value: 6 %>
		and
		<%= form.number_field :parking_range_U, min: 1, step: 1, value: 10 %>
	</p>
	<p>Number of demand (# requests): <%= form.number_field :nb_demands, min: 1, step: 1, value: 500 %></p>
	<p>Time step (min): <%= form.number_field :time_step, min: 1, max:60, step: 1, value: 10 %></p>
	<p>Area length side (m): <%= form.number_field :area_lenght_side, min: 1000, step: 1, value: 100000 %></p>
	<p>Average car speed (km/h): <%= form.number_field :average_car_speed, min: 1, step: 1, value: 40 %></p>
	<p>Maximum trip distance (m): <%= form.number_field :max_trip_distance, min: 1000, step: 1, value: 60000 %></p>
	<p>Centroïd area dimension (% of total area): <%= form.number_field :centroid_area_dimension, min: 1, step: 1, value: 10 %></p>
	<p>Density in the centroïd area (%): <%= form.number_field :centroid_density, in: 1..100, step: 1, value: 35 %></p>
	<p>Demand distribution :<br />
		<table>
			<tr>
				<% for i in 0..11 do %>
					<td><%=i%>h</td>
				<% end %>
			</tr>
			<tr>
				<td><%= form.number_field :demand_distrib_0, min: 0, max: 100, step: 1, value: 5 %></td>
				<td><%= form.number_field :demand_distrib_1, min: 0, max: 100, step: 1, value: 5 %></td>
				<td><%= form.number_field :demand_distrib_2, min: 0, max: 100, step: 1, value: 5 %></td>
				<td><%= form.number_field :demand_distrib_3, min: 0, max: 100, step: 1, value: 7 %></td>
				<td><%= form.number_field :demand_distrib_4, min: 0, max: 100, step: 1, value: 10 %></td>
				<td><%= form.number_field :demand_distrib_5, min: 0, max: 100, step: 1, value: 15 %></td>
				<td><%= form.number_field :demand_distrib_6, min: 0, max: 100, step: 1, value: 20 %></td>
				<td><%= form.number_field :demand_distrib_7, min: 0, max: 100, step: 1, value: 50 %></td>
				<td><%= form.number_field :demand_distrib_8, min: 0, max: 100, step: 1, value: 80 %></td>
				<td><%= form.number_field :demand_distrib_9, min: 0, max: 100, step: 1, value: 70 %></td>
				<td><%= form.number_field :demand_distrib_10, min: 0, max: 100, step: 1, value: 60 %></td>
				<td><%= form.number_field :demand_distrib_11, min: 0, max: 100, step: 1, value: 65 %></td>
			</tr>
			<tr>
				<% for i in 12..23 do %>
					<td><%=i%>h</td>
				<% end %>
			</tr>
			<tr>
				<td><%= form.number_field :demand_distrib_12, min: 0, max: 100, step: 1, value: 70 %></td>
				<td><%= form.number_field :demand_distrib_13, min: 0, max: 100, step: 1, value: 63 %></td>
				<td><%= form.number_field :demand_distrib_14, min: 0, max: 100, step: 1, value: 55 %></td>
				<td><%= form.number_field :demand_distrib_15, min: 0, max: 100, step: 1, value: 73 %></td>
				<td><%= form.number_field :demand_distrib_16, min: 0, max: 100, step: 1, value: 90 %></td>
				<td><%= form.number_field :demand_distrib_17, min: 0, max: 100, step: 1, value: 85 %></td>
				<td><%= form.number_field :demand_distrib_18, min: 0, max: 100, step: 1, value: 80 %></td>
				<td><%= form.number_field :demand_distrib_19, min: 0, max: 100, step: 1, value: 53 %></td>
				<td><%= form.number_field :demand_distrib_20, min: 0, max: 100, step: 1, value: 25 %></td>
				<td><%= form.number_field :demand_distrib_21, min: 0, max: 100, step: 1, value: 18 %></td>
				<td><%= form.number_field :demand_distrib_22, min: 0, max: 100, step: 1, value: 10 %></td>
				<td><%= form.number_field :demand_distrib_23, min: 0, max: 100, step: 1, value: 8 %></td>
			</tr>
		</table>
	</p>
	<p>Morning rush (sub -> center) time slot (h): 
		<%= form.number_field :morning_rush_time_slot_L, min: 1, step: 1, value: 7 %>
		and
		<%= form.number_field :morning_rush_time_slot_U, min: 1, step: 1, value: 9 %>
	</p>
	<p>Demand proportion during morning rush (%): <%= form.number_field :morning_rush_demand_proportion, in: 0..100, step: 1, value: 80 %></p>
	<p>Evening rush (center -> sub) time slot (h): 
		<%= form.number_field :evening_rush_time_slot_L, min: 12, step: 1, value: 15 %>
		and
		<%= form.number_field :evening_rush_time_slot_U, min: 12, step: 1, value: 19 %>
	</p>
	<p>Demand proportion during evening rush (%): <%= form.number_field :evening_rush_demand_proportion, in: 0..100, step: 1, value: 60 %></p>
	<p>Time penalty during rush hours (%): <%= form.number_field :time_penalty, min: 0, step: 1, value: 160 %></p>
	<p><%= form.submit "Generate!" %></p>
<% end %>
